.venv/
venv/

src/helper_functions/__pycache__/
src/model_training/__pycache__/

data/raw/data_mail
data/preprocessed/data_bert/own_train_base_bert.csv
data/preprocessed/data_bert/own_test_base_bert.csv
data/preprocessed/data_meta/own_train_base_meta.csv
data/preprocessed/data_meta/own_test_base_meta.csv

models/bert/.logs
models/bert/results
models/bert/bert_english_curated/.logs
models/bert/bert_english_curated/results/checkpoint-2500
models/bert/bert_german_curated/.logs
models/bert/bert_german_curated/results/checkpoint-2500
models/bert/bert_multilingual_curated/.logs
models/bert/bert_multilingual_curated/results/checkpoint-2500
models/bert/bert_german_own/.logs
models/bert/bert_german_own/results/checkpoint-730
models/bert/bert_german_own/results/checkpoint-2500
models/bert/*.rar

models/meta/meta_english_curated/.logs
models/meta/meta_english_curated/*.pkl
models/meta/meta_german_curated/.logs
models/meta/meta_german_curated/*.pkl
models/meta/meta_multilingual_curated/.logs
models/meta/meta_multilingual_curated/*.pkl
models/meta/meta_german_own/*.pkl
models/meta/*pkl

py-temp/